@use '@/styles/sass/variables' as *;
/* inspired on https://uizard.io/templates/website-templates/book-store-website/ */

.input {
  border: 1px solid $lightgray;
  padding: 10px;
  background-color: $lightgray;
  color: $gray;
  outline: none;
  font-size: 1em;
  flex: 1 1 0px;
  height: 38px;

  &:focus-visible,
  &:hover {
    border: 1px solid hsl(0, 0%, 70%);
  }
}
