@use '@/app/variables' as *;

.button {
  padding: 10px 20px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.primary {
  border: 1px solid $light;
  color: $light;
  background-color: $primary;
}

.secondary {
  border: 1px solid $primary;
  color: $primary;
  background-color: $light;
}
