@use '@/styles/sass/variables' as *;
/* inspired on https://uizard.io/templates/website-templates/book-store-website/ */

.navbar {
  background-color: $light;
  width: 100vw;
  height: 8svh;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    font-size: 1.4em;

    a {
      text-decoration: none;
    }
  }
}
